.containor {
    padding-left: 45px;
    padding-right: 45px;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --main-color-orange-opa: #fcae61;
    --main-color-alt-blue: #242f51;
    --main-color-blue: #1f00d4;
    --main-color-gray: #86878b;
    --main-color-pink: #f66170;
    --main-color-green: #419860;
    --main-transition: 0.5s;
}

.question {
    margin-top: 250px;
    height: 100vh;
    width: 100%;
}

.question .content {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.question .content .text {
    width: 70%;
}

.question .content .text h3 {
    color: var(--main-color-alt-blue);
}

.question .content .text p {
    color: var(--main-color-gray);
}

.question .details {
    width: 100%;
}

.question .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question .box .card {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7edf6;
    padding: 0px 25px;
    margin: 15px 0px;
    color: var(--main-color-alt-blue);
}

.footer {
    margin-top: 100px;
    height: 50vh;
    width: 100%;
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 1px;
    background-color: var(--main-color-alt-blue);
}

.footer .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer .text {
    width: 45%;
}

.footer .text h3 {
    color: var(--main-color-alt-blue);
    font-size: 35px;
    margin: 20px 0px;
}

.footer .text p {
    color: var(--main-color-gray);
    font-size: 14px;
}

.footer .img {
    width: 50%;
}

.footer .img img {
    width: 550px;
}


/************************/


/************************/

footer {
    background-color: #242f51;
    color: white;
    height: 50vh;
    width: 100%;
}

footer .content {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

footer .content h3 {
    margin: 0;
    color: white;
}

footer .content h3 span {
    color: var(--main-color-orange-opa);
}

footer .content ul {
    display: flex;
}

footer .content ul li a {
    padding: 20px;
    color: var(--main-color-gray);
}

footer .content .social {
    color: var(--main-color-gray);
}

footer .content .social .fab {
    margin: 8px;
    font-size: 25px;
}

footer .content h6 {
    color: var(--main-color-gray);
}